/*Basic Portfolio CSS*/

.wrapper {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: #cccccc;
    border-bottom: 2pt;
    padding: 3cm 0 3cm 0;
    background-color: #ffffff;
    height: auto;
}

header .container {
    width: 960px;
    margin: 0 auto;
}

.NAME {
    position: absolute;
    font-size: 24pt;
    float: left;
    color: black;
    background-color: teal;
    padding: 64px;
    top:0;
    left: 64px;
}

.Links {
    float: left;
    margin-left: 70%;
    font-size: 16pt;
}

.Content {
    background-image: url(../images/concrete-texture.png);
    height: 60%;
    width: 100%;
    display: flex;
    border: #dddddd;
}

article {
    height: 100%;
    width: 960px;
    padding: 32px;
    margin: 64px;
    float: left;
    background-color: #ffffff;
    font-size: 12pt; 
}

.logo {
    width: 48px;
    padding: 1cm 0 1cm 0;
}

h1 {
    display: block;
    font-weight: bolder;
    font-size: 24px;
    display: block;
    color: teal;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
}

.bigwilliestyle {
    width: 240px;
    float: left;
    margin:0 16px 16px 0;
    border: solid
}

h2 {
    display: block;
    font-size: 24px;
    font-weight: bolder;
    color: teal;
    margin-top: 60px;
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
}

nav {
    height: 100%;
    width: 250px;
    padding: 32px;
    margin: 64px 5% 5% 0;
    background-color: #ffffff
}

a {
    color: #cccccc
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

footer {
    text-align: center;
    width: 100%;
    padding: 50px 0 50px 0;
    border-style: solid;
    border-top: 5px;
    background-color: #666666;
    color: #cccccc;
}

textarea {
    height: 160px;
    width: 100%;
}

button {
    border: black;
    width: 112px;
    padding: 8px;
    color: #ffffff;
    background-color: teal;
    font-size: 14pt;
}

input {
    width: 100%;
    padding: 8px;
    color: #cccccc;
}

.image {
    position: relative;
}

.ExhibitA {
    width: 240px;
    float: left;
}

.ExhibitB {
    position: static;
    width: 240px;
    float: right;
}

.ExhibitC {
    position: static;
    width: 240px;
    float: left;
}

.ExhibitD {
    position: static;
    width: 240px;
    float: right;
}

.caption1 {   
    position: relative; 
    top: 250px;
    left: 0;
    width: 13.75em;
    height: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: teal;
    text-align: center;
    vertical-align: inherit;
}

.caption2 {
    position: relative;
    top: 250px;
    width: 13.75em;
    height: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: teal;
    text-align: center;
    vertical-align: inherit;
    float: right;
    
}

.caption3 {
    position: relative;
    top: 250px;
    left: 0;
    width: 13.75em;
    height: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: teal;
    text-align: center;
    vertical-align: inherit;
}

.caption4 {
    position: relative;
    top: 250px;
    width: 13.75em;
    height: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: teal;
    text-align: center;
    vertical-align: inherit;
    float: right;
}

